*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}

.nav-links a{
    color: blueviolet;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;

}

.nav-links li a.active{
    background-color: darkslateblue;
}