<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          
          <a class="nav-item nav-link" id="Program" href="/">Program</a>
          <a class="nav-item nav-link" id="Project" href="/Project">Project</a>
          <a class="nav-item nav-link" id="Researcher" href="/">Researcher</a>
          <a class="nav-item nav-link" id="Science_field" href="/">Science_field</a>
          <a class="nav-item nav-link" id="Organismos" href="/login">Organismos</a>
          <a class="nav-item nav-link" id="Stelehos" href="/Stelehos">Stelehos</a>
          
        </div>
      </div>
    </nav>
    <script
    type="text/javascript"
    src="{{ url_for('static' , filename = 'index.js') }}"
    ></script>
  </body>
</html>