{% extends "base.html" %} {% block title %}Project{% endblock %} {% block content%}

<br>
<h1>
    Projects per researcher
</h1>
<br>

<body>
    <br>
    <ul class="nav nav-tabs">
        <a class="nav-link " id="Projects_per_researcher" href="/Project/Projects_per_researcher">Projects per
            researcher</a>
        <a class="nav-link" id="Projects_per_organisation" href="/Project/Projects_per_organisation">Projects per
            organisation</a>
        <a class="nav-link" id="Top_3__Research_Field_Duos" href="/Project/Top_3__Research_Field_Duos">Top 3 Research
            Field Duos</a>
        <a class="nav-link active" id="Edit_Project" href="/Project/Edit_Project">Edit Projects</a>
        <a class="nav-link " id="Add_Project" href="/Project/Add_Project">Add new Projects</a>
    </ul>
    <br>

    <br>

    <form class="form"  method='POST'>
        <label for="project">Choose a Table</label>
        <select name="project" id="project">
            <!-- <option value=""></option> -->
            {%for project in projects %}
            <option value="{{project.title}}">{{project.title}}</option>
            {%endfor%}
        </select>
        <br><br>
        <input type="submit" id="project" value="Submit">

        <br>
    </form>
    <br><br>

    {%if data%}

    <div id="data-form-container">
        <h3>Edit data</h3>
        <form class="form" method='POST'>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputtitle">Title</label>
                    <input type="text" class="form-control" name="title" value="{{ data[0].title }}"
                        placeholder="title" >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="amount">Funding</label>
                    <input type="text" class="form-control" name="amount" value="{{data[0].amount}}" placeholder="{{data[0].amount}}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="executive">Executive ID</label>
                    <input type="text" class="form-control" value="{{data[0].stelehos_id}}" name="executive"
                        placeholder="{{data[0].stelehos_id}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="summary">Summary</label>
                    <input type="text" class="form-control" value="{{data[0].summary}}" name="summary"
                        placeholder="{{data[0].summary}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="project_id">Porject ID</label>
                    <input type="text" class="form-control" value="{{data[0].project_id}}" name="project_id"
                        placeholder="{{data[0].project_id}}" readonly>
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-light my-4"
                onclick="window.location.href='/data/Edit_data'">Save</button>
        </form>




    </div>
    {%endif%}
    {%endblock%}