{% extends "base.html" %} {% block title %}Organismos{% endblock %} {% block content
    %}
   <form method="POST">
       <h3 align="center">Which organizations have received the same number of projects over two consecutive years?</h3>
       <div class="form-group">
           <label for = "organismoi">Enter the years you want</label>
           <input type="organismoi" 
                   class="form-control" 
                   id="organismoi" 
                   name="organismoi" 
                   placeholder=""
                   />
       </div>
       <br />
       <button type="search" class="btn btn-primary">Search</button>
   </from>
   {% endblock %}