<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Programm{% endblock %} {% block content
%}
<br>
<h1>
    A list of all programms
</h1>

<body>

    <style>
        table,
        th,
        td {
            border: 2px solid rgb(0, 0, 0);
        }
    </style>


    <table>
        <tr>
            <th>Programm name</th>
        </tr>

        {% for programm in programms %}
        <tr>
            <td>{{ programm[0] }}</td>
        </tr>
        {% endfor %}

    </table>
</body>

{% endblock %}

</html>