{% extends "base.html" %} {% block title %}Project{% endblock %} {% block content
%}

<h1 style="color: rgb(0, 0, 0)">
    Projects order by researchers or organisations
</h1>

<br>
<br>

<ul class="nav nav-tabs">
    <a class="nav-link" id="Project_by_researchers" href="/Project/Project_by_researchers">Project by researchers</a>
    <a class="nav-link" id="Project_by_organisations" href="/Project/Project_by_organisations">Project by organisations</a>
    <a class="nav-link" id="Project_by_researchers" href="/Project/Top_3_Duos">Top 3 Duos</a>
</ul>

{% endblock %}