<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Project{% endblock %} {% block content
%}


<h1>
    Projects order by organisations
</h1>
<br>

<body>
    <br>
    <ul class="nav nav-tabs">
        <a class="nav-link" id="Project_by_researchers" href="/Project/Project_by_researchers">Project by
            researchers</a>
        <a class="nav-link active" id="Project_by_organisations" href="/Project/Project_by_organisations">Project by
            organisations</a>
        <a class="nav-link" id="Project_by_researchers" href="/Project/Top_3_Duos">Top 3 Duos</a>
    </ul>
    <br>
    
    <style>
        table,
        th,
        td {
            border: 2px solid rgb(0, 0, 0);
        }
    </style>
    
    <table style="width: 100%">
        {%if rows%}
        <tr>
            <th>organisation_name</th>
            <th>project_title</th>
        </tr>
        {% for i in range(rows) %}
        <tr>
            {% for j in range(columns) %}
            <td>{{ result5[i][j] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        {%endif%}
    </table>

</body>

{%endblock%}

</html>