{% extends "base.html" %} {% block title %}Project{% endblock %} {% block content
%}
<br>
<h1 style="color: rgb(0, 0, 0)">
    Projects
</h1>

<br>


<ul class="nav nav-tabs">
    <a class="nav-link" id="Projects_per_researcher" href="/Project/Projects_per_researcher">Projects per researcher</a>
    <a class="nav-link" id="Projects_per_organisation" href="/Project/Projects_per_organisation">Projects per organisation</a>
    <a class="nav-link" id="Top_3__Research_Field_Duos" href="/Project/Top_3__Research_Field_Duos">Top 3 Research Field Duos</a>
</ul>

{% endblock %}