<title>{% block title %}Project{% endblock %}</title>

<h1 style="color: rgb(112, 10, 10)">
    Projects order by researchers or organisations
    </h1>

    
        
          <a class="nav-item nav-link" id="Project_by_researchers" href="/Project/Project_by_researchers">Project_by_researchers</a>
    <a class="nav-item nav-link" id="Project_by_organisations" href="/Project/Project_by_organisations">Project_by_organisations</a>
    
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>