<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Project{% endblock %} {% block content
%}

<br>
<h1>
    Projects per organisation
</h1>
<br>

<body>
    <br>
    <ul class="nav nav-tabs">
        <a class="nav-link" id="Projects_per_researcher" href="/Project/Projects_per_researcher">Projects per researcher</a>
        <a class="nav-link active" id="Projects_per_organisation" href="/Project/Projects_per_organisation">Projects per organisation</a>
        <a class="nav-link" id="Top_3__Research_Field_Duos" href="/Project/Top_3__Research_Field_Duos">Top 3 Research Field Duos</a>
        <a class="nav-link" id="Edit_Project" href="/Project/Edit_Project">Edit Projects</a>
    </ul>
    <br>
    
    <style>
        table,
        th,
        td {
            border: 2px solid rgb(0, 0, 0);
        }
    </style>
    
    <table style="width: 100%">
        {%if rows%}
        <tr>
            <th>organisation_name</th>
            <th>project_title</th>
        </tr>
        {% for i in range(rows) %}
        <tr>
            {% for j in range(columns) %}
            <td>{{ result5[i][j] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        {%endif%}
    </table>

</body>

{%endblock%}

</html>