{% extends "base.html" %} {% block title %}Research{% endblock %} {% block content
%}
<br>
<h1>
  Researchers working on >=5 projects with no deliverables 
</h1>
<br>


<body>
  <br>
  <ul class="nav nav-tabs">
    <a class="nav-link" id="Researchers_under_40" href="/Researcher/Researchers_under_40">Researchers under 40</a>
    <a class="nav-link active" id="Researchers_working_on" href="/Researcher/Researchers_working_on">Researchers working on</a>
    <a class="nav-link" id="Edit_Researchers" href="/Researcher/Edit_Researcher"> Edit Researchers</a>
    <a class="nav-link" id="Add_Researchers" href="/Researcher/Add_Researcher"> Add Researchers</a>
  </ul>
  <br>

  <style>
    table,
    th,
    td {
      border: 1px solid rgb(169, 10, 255);
    }
  </style>

  <table style="width: 100%">
    {%if rows%}
    <tr>
      <th>Researcher_name</th>
      <th>Project number</th>
    </tr>
    {%if rows%}
    {% for i in range(rows) %}
    <tr>
      {% for j in range(columns) %}
      <td>{{ result6[i][j] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    {%endif%}
  </table>
  {%endif%} 
</body>
{% endblock %}