<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Research_Field{% endblock %} {% block content
%}

<head>
    <title>
        How to get selected value in
        dropdown list using JavaScript?
    </title>
</head>

<body>
    <h1 style="color: rgb(197, 6, 240)">
        Science_field
    </h1>

    <form method="POST">
        <div class="form-group">
            <label for="resfield">Choose a Reasearch Field</label>
            <select id="resfield" multiple>
                {%for field in fields%}
                <option value="{{field}}">{{field}}</option>
                {%endfor%}
            </select>
            <input type="submit" class="form-control" id="resfield" name="resfield" placeholder="" />
        </div>
    </form>
    <table style="width:100%">
        {%if rows%}
        {% for i in range(rows) %}
        <tr>
            {% for j in range(columns) %}
            <td>{{ results[i][j] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        {%endif%}
    </table>
</body>

{%endblock%}

</html>