{% extends "base.html" %} {% block title %}Research{% endblock %} {% block content
    %}
    <h3 align="center">Names of young researchers(<40) and number of projects working on</h3>

<body>
<style>
    table, th, td {
      border:1px solid rgb(169, 10, 255);
    }
</style>
   <table style="width:100%">
    {%if rows%}
      {% for i in range(rows) %}
      <tr>
        {% for j in range(columns) %}
        <td>{{ result[i][j] }}</td>
        {% endfor %}  
      </tr>
      {% endfor %}
    {%endif%}
  </table>
</bdoy>
{% endblock %}