{% extends "base.html" %} {% block title %}Research{% endblock %} {% block content
%}
<br>
<h1>
  Names of young researchers and number of projects 
</h1>
<br>


<body>
  <br>
  <ul class="nav nav-tabs">
    <a class="nav-link active" id="Researchers_under_40" href="/Researcher/Researchers_under_40">Researchers under 40</a>
    <a class="nav-link" id="Researchers_working_on" href="/Researcher/Researchers_working_on">Researchers working
      on</a>

  </ul>
  <br>
  <style>
    table,
    th,
    td {
      border: 1px solid rgb(169, 10, 255);
    }
  </style>
  <table style="width:100%">
    {%if rows%}
    <tr>
      <th>researcher_last_name</th>
      <th>researcher_first_name</th>
      <th>number_of_projects</th>
    </tr>
    {% for i in range(rows) %}
    <tr>
      {% for j in range(columns) %}
      <td>{{ result[i][j] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    {%endif%}
  </table>
  <br>
  <br>
</body>
{% endblock %}