<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Research_Field{% endblock %} {% block content
%}

<head>
    <title>
        How to get selected value in
        dropdown list using JavaScript?
    </title>
</head>

<body>
    <h1 style="color: rgb(197, 6, 240)">
        Science_field
    </h1>

    <form method="POST">
        <label for="resfield">Choose a Reasearch Field</label>
        <select name="resfield" id="resfield">
            {%for field in fields%}
            <option value="{{field[0]}}">{{field[0]}}</option>
            {%endfor%}
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
    <table style="width:100%">
        {%if rows%}
        {% for i in range(rows) %}
        <tr>
            {% for j in range(columns) %}
            <td>{{ results[i][j] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        {%endif%}
    </table>

</body>

{%endblock%}

</html>