<title>{% block title %}Project{% endblock %}</title>

<h1 style="color: rgb(19, 20, 19)">
  Researchers under 40 and Researchers working on >=5 projects 
    </h1>

    
        
          <a class="nav-item nav-link" id="Researchers_under_40" href="/Researcher/Researchers_under_40">Researchers_under_40</a>
    <a class="nav-item nav-link" id="Researchers_working_on" href="/Researcher/Researchers_working_on">Researchers_working_on</a>
    
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>