<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Project{% endblock %} {% block content
%}


<h1>
    Top 3 Research Field Duos
</h1>
<br>

<body>
    <br>
    <ul class="nav nav-tabs">
        <a class="nav-link" id="Project_per_researchers" href="/Project/Project_per_researchers">Project per researchers</a>
        <a class="nav-link active" id="Project_per_organisations" href="/Project/Project_per_organisations">Project per
            organisations</a>
        <a class="nav-link" id="Project_per_researchers" href="/Project/Top_3_Duos">Top 3 Duos</a>
    </ul>
    <br>

    <style>
        table,
        th,
        td {
            border: 2px solid rgb(0, 0, 0);
        }
    </style>

    <table style="width: 100%">
        {%if rows%}
        <tr>
            <th>project_name</th>
            <th>project_id</th>
            <th>field_duos</th>
            <th>Appereance_number</th>
        </tr>
        {% for i in range(rows) %}
        <tr>
            {% for j in range(columns) %}
            <td>{{ result7[i][j] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        {%endif%}
    </table>

</body>

{%endblock%}

</html>